*{
    box-sizing: border-box;
    list-style: none;
    }
    
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.main-content{
    min-height: 1000px;
    width: 90%;
    margin: 50px;
    display: grid;
    grid-template-columns:300px 700px;
    max-width: 674px;
    background-color: darkcyan;
    position: relative;
    margin-left: -20%;

}


.main-content .left-section{
    background-color: rgba(4, 4, 70, 0.193);
    grid-column: span 1;
    position: relative;
     
}
.left-content{
    margin: 20px;
    padding: 1rem;
    
}
.profile-image {
   margin: auto;
  display: block;
  border: 5px;
  border-radius: 30%;
  border-color: solid white;
  width: 60%;
}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.8rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.02px;
    
}
.designation{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}
.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}

 .social-media{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   
 }
 .fa-solid{
    margin: 10px;
 }
 .personal-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}

.skills{
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.skill-name{
    font-size: 0.65rem;
     text-align: left;
    padding-bottom: 0.5rem;
}
.progress-bar{
    border: 1px solid white;
    height: 4px;
    display: block;
    margin: 5px;
}

.main-content .right-section{
    background-color: aliceblue;
    grid-column: span 1 / span 2;
    position: relative;
}
.right-main-content{
    margin: 20px;
    padding: 2rem 3rem;
}
.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}
.education-content{
    display:flex;
    flex-direction :row;
}

.exp{
   display: flex;
    flex-direction:row;
 }

.project-done{
    display:flex;
    flex-direction: row;
}

.info{
    margin-left:8px;
}

@media only screen and (max-width: 674px) {
.main-content {
  width: 90%;
  min-height: 1000px;
  grid-template-columns:repeat(1, 1fr);
}
   
}

